/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.eons-navbar {
    background-color: #e3f2fd;
}

.loader {
    border: 1px solid #f3f3f3; /* Light grey */
    border-top: 1px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.questions {
    background: yellow;
}

.answers {
    background: lightgoldenrodyellow;
}

.actions {
    background: cyan;
}

.statusDiv {
    background: red;
}